@model ShopGeocoder.Models.ApiKey

@{
    ViewData["Title"] = "Создание нового API ключа";
}

    <div class="col-8 offset-2">
        <h1>Создание нового API ключа</h1>

        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Key" class="control-label"></label>
                        <input asp-for="Key" class="form-control" />
                        <span asp-validation-for="Key" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Default" class="control-label"></label>
                        <input asp-for="Default" class="form-control" />
                        <span asp-validation-for="Default" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Создать" class="btn btn-primary" /> |
                        <a class="btn btn-sm btn-light" asp-action="Index">Вернуться к списку</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }